extends layout

block content

  div(id='#films') &nbsp;
  div(id='#films') &nbsp;
  div(id='#films') &nbsp;
  div(id='#films') &nbsp;
  section.search-services
  .container.search-section
    p(id='#films') &nbsp;
  p(id='#films')
  p(id='#films')
  h1(style='text-align: center; margin-top: 30px; font-size: 50px; color: white;')
    strong Need a Quick fix?
  p(style='text-align: center; color: white;')
    strong
      em Find &amp; Hire professionals at affordable prices
  br
  div
    form
      .col-lg-6.offset-lg-3.col-md-12
        .input-group.input-group-lg.search-box
          input#w1.form-control(type='text' name='services' placeholder='e.g Plumber, Electrician, Painter etc')
          input(type='hidden')
          span.input-group-btn
            button.btn.btn-lg.btn-primary(type='submit') Search
    p(id='#films') &nbsp;
  p(id='#films')
  p(id='#films')
  p(id='#films')
  p(id='#films')
  p(id='#films')
  p(id='#films')
  p(id='#films')
  .container
    h2.work
      strong How it works for clients
    p(id='#films') &nbsp;
  .container
    .row.spaced-cols.text-center(data-type='row')
      .col-xs-4.col-sm-4.col-ms-4
        i.far.fa-edit.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Hire
          p
            | Fill our hire form giving a detailed
            br
            | description of your needs
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-book-reader.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Review
          p
            | An agent reviews your form to
            br
            | ascertain your needs and right personnel for it
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-user-alt.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Assign
          p
            | An agent assigns you an available
            br
            | iGofer personnel suitable to fix your needs
      .col-xs-4.col-sm-4.col-ms-4
        i.far.fa-credit-card.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Make payment
          p
            | Make payment for service rendered
            br
            |  through iGofer escrow payment system
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-check-circle.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Job completion
          p
            | An iGofer personnel assigned
            br
            | to you completes your job
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-book-reader.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Review
          p
            | An iGofer agent confirms
            br
            | the work was done accurately
      p(id='#films') &nbsp;
    .col-xs-12.col-sm-12.col-ms-12.align-center.wow.zoomIn.text-center
      button#submitForm.btn.btn-lg.btn-primary(name='sub') Get started
  hr
  p(id='#films')
  p(id='#films')
  .container
    h2.work
      strong How it works for service providers
    p(id='#films') &nbsp;
  .container
    .row.spaced-cols.text-center(data-type='row')
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-user-alt.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Create Account
          p
            | Create a free account with your photos,
            br
            |  portfolio, certificates, description and qualification.
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-users.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Get paired with clients
          p
            | Get paired with clients when they
            br
            | request your services and start earning
      .col-xs-4.col-sm-4.col-ms-4
        i.fas.fa-chart-line.fa-3x
        div(data-type='column')
          p
          p
          h5.stages
            strong Grow
          p
            | Grow your business and boost your
            br
            |  profile and reach out to more Customers
      p(id='#films') &nbsp;
    .col-xs-12.col-sm-12.col-ms-12.align-center.wow.zoomIn.text-center
      button#submitForm.btn.btn-lg.btn-primary(name='sub') Get started
  hr
  p(id='#films')
  p(id='#films')
  h2.work
  strong What we offer
  p(id='#films')
  p(id='#films')
  .container
    .row
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/image 6.jpg' alt='' style='width:100%')
            .overlay
              h2 Handyman
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/image 13.jpg' alt='' style='width:100%')
            .overlay
              h2 Food Service
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/image 16.jpg' alt='' style='width:100%')
            .overlay
              h2 Errands
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/delivery.jpg' alt='' style='width:100%')
            .overlay
              h2 Logistics
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/image 17.jpg' alt='' style='width:100%')
            .overlay
              h2 Virtual Assistant
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/books.jpg' alt='' style='width:100%')
            .overlay
              h2 Academics
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/glasses.jpg' alt='' style='width:100%')
            .overlay
              h2 Event management
              a.info(href='#') Hire
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card.mb-3.box-shadow
          .hovereffect
            img.img-responsive(src='img/mechanic.jpg' alt='' style='width:100%')
            .overlay
              h2 Automible Mechanics
              a.info(href='#') Hire
  p(id='#films')
  p(id='#films')
  hr
  .container
    .row
      .col-md-4
        .card
          .card-body
            h3.work
              strong About
            p
              | iGofer is a shared, open market place for services, it is a
              | platform where professional services are offered and both skilled and unskilled workers are networked to deliver services to clients.
            p
            p
            p(style='text-align: center;')
              a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
      .col-md-4
        .card
          .card-body
            h3.work
              strong Why Choose iGofer?
            br
            | To add form elements inside the navbar, add the .navbar-form class to a form element and add an input(s). Note that we have added a .form-group class to the div container holding the input. This adds proper padding if you have more than one inputs (you will learn more about this in the Forms chapter).
            p
            p
            p(style='text-align: center;')
              a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
      hr
      .col-md-4
        .card
          .card-body
            h3.work
              strong Testimonials
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                li(data-target='#carouselExampleIndicators' data-slide-to='1')
                li(data-target='#carouselExampleIndicators' data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='img/test 1.jpg' alt='First slide')
                .carousel-item
                  img.d-block.w-100(src='img/test 2.jpg' alt='Second slide')
                .carousel-item
                  img.d-block.w-100(src='img/test 3.jpg' alt='Third slide')
              a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
    p(id='#films') &nbsp;
  p(id='#films')
  button#myBtn(onclick='topFunction()' title='Go to top')
    i.fas.fa-angle-double-up.fa-2x
  #footer
    .footer-top
      .container
        .row
          .col-lg-3.col-md-6.footer-info
            h3.logo
              img.logo(src='img/logo.jpg' alt='logo')
            .col-lg-3.col-md-6.footer-links
            ul
              li
                i.menu-bottom
                a(href='#') How it works
              li
                i.menu-bottom
                a(href='#') Services
              li
                i.imenu-bottom
                a(href='#') About Us
              li
                i.menu-bottom
                a(href='#') FAQs
              li
                i.menu-bottom
                a(href='#') Contact Us
              li
                i.menu-bottom
                a(href='#') Terms and conditions
          .col-lg-3.col-md-6.footer-contact
            h4
              strong Follow us
            a(href='https://facebook.com' target='_blank')
              i.fab.fa-facebook.fa-3x
            a(href='https://twitter.com' target='_blank')
              i.fab.fa-twitter.fa-3x
            a(href='https://instagram.com' target='_blank')
              i.fab.fa-instagram.fa-3x
            a(href='https://linkedin.com' target='_blank')
              i.fab.fa-linkedin.fa-3x
          .col-lg-3.col-md-6.footer-contact-no
            h3
              strong Location
            p
              | 2, Norman Williams Street
              br
              | off Awolowo Road, Ikoyi.
          .col-lg-3.col-md-6.footer-contact-no
            h3
              strong Contact
            p
              | +234-8168847243
              br
              |  hello@igofer.com.ng
              br
              |           24/7 Customer service
    .bottom
      p &copy; igofer 2018 | All rights reserved

  script(src='js/jquery.js')
  script(src='js/bootstrap.js')
  script(type='text/javascript').
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
    } else {
    document.getElementById("myBtn").style.display = "none";
    }
    }
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
